@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  color: #697CA6;
}
.container {
  margin: 0;
  width: 100%;
}
.row {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding-left: 50px;
}
/* Header */
.header__nav {
  padding-right: 15%;
}
ul {
  list-style: none;
}
.menu {
  display: flex;
  justify-content: start;
}
.menu a {
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;

  text-decoration: none;
  padding-left: 35px;
}
.menu a:hover {
  color: #697CA6;
}
a {
  text-decoration: none;
}
.contacts a {
  padding-right: 25px;
}
.contact__fasebook a, .contact__telegram a, 
.contact__twiter a, .contact__medium a {
  padding: 5px;
  margin-right: 5px;
}
.contact__fasebook a:hover, .contact__telegram a:hover, 
.contact__twiter a:hover, .contact__medium a:hover {
  background-color: #FCFDFF;
  box-shadow:  1px 1px 10px #D8E3FE;
}
.header__btn a {
  background-color: #D2E1FF;
  color: #3A79FF;

  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;

  padding: 10px;
}
.header__btn a:hover {
  background-color: #EFEFF7;
  color: #7A85AD;
}
.header__btn {
  padding-right: 50px;
}
/* Hero image */
.hero__image {
  width: 100%;
  height: 570px;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}
.figure {
  position: relative;
  width: 100%;
}
.clouds {
  position: absolute;
  left: 0;
}
.cloud {
  position: absolute;
  right: 0;
  top: 360px;
}
.chart {
  position: absolute;
  left: 0;
  right: 0;
  top: 145px;
}
.ellipse {
  position: absolute;
  left: 34.2%;
  top: 500px;
}
.stats {
  position: absolute;
  left: 2%;
  top: 450px;
}
.stats {
  animation-name: move-stats;
  animation-duration: 10s;
  animation-timing-function: steps(4, end);
  animation-iteration-count: 2;
}
@keyframes move-stats {
  0% {
    left: 2%;
  }
  100% {
    left: 115%;
    top: 80px;
  }
}
.hero_text {
  position: absolute;
  left: 30%;
  top: 100px;
}
.btn-play {
  position: absolute;
  top: 300px;
  left: 45%;
  transition: 0.5s;
}
.btn-play:hover {
  transform: rotate3d(0, 1, 0, 360deg);
  transition: 0.8s;
  cursor: pointer;
}
/* Brend */
.brend {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px;
  margin: 30px;
}
.brend a img {
  width: 180px;
  padding: 15px;
}
.brend a img:hover {
  box-shadow:  1px 1px 10px #D8E3FE;
}
/* Manage */
.manage {
  width: 100%;
  height: 776px;
  background: #F5F8FF;

  position: relative;
}
.manage-text {
  position: absolute;
  left: 5%;
  top: 120px;
}
.manage-btn {
  display: flex;
}
.view_btn {
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.view_btn a {
  width: 130px;
  padding: 10px;
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  color: #F4F7FF;
}
.see_btn {
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.see_btn a {
  width: 130px;
  padding: 9px;
  border: 1px solid #D1D1E4;
  color: #7A85AD;
}
.view_btn a:hover {
  background-color: #D2E1FF;
  border: 1px solid #D1D1E4;
  color: #3A79FF;
  padding: 9px;
}
.see_btn a:hover {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.manage-img1 img {
  width: 606px;
}
.manage-img2 img {
  width: 107px;
}
.manage-img3 img {
  width: 148px;
}
.manage-img1 {
  position: absolute;
  right: 8%;
  top: 100px;
  box-shadow: 0px 20px 40px 0px #353C7326;
  transition: 0.5s;
}
.manage-img1:hover {
  right: 10%;
  top: 120px;
  transition: 0.5s;
}
.manage-img2 {
  position: absolute;
  right: 42%;
  top: 200px;
  box-shadow: 0px 20px 40px 0px #353C7326;
  transition: 0.8s;
}
.manage-img2:hover {
  right: 45%;
  top: 180px;
  transition: 0.8s;
}
.manage-img3 {
  position: absolute;
  right: 11%;
  top: 270px;
  box-shadow: 0px 20px 40px 0px #353C7326;
  transition: 0.8s;
}
.manage-img3:hover {
  right: 13%;
  top: 320px;
  transition: 0.8s;
}
/* About */
.about {
  position: relative;
}
.clouds-about {
  margin: 5%;
}
.text-about {
  position: absolute;
  top: 150px;
  left: 40%;
}
.list-about {
  position: absolute;
  top: 250px;
  left: 12%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}
.overview, .files, .meetind-chats, .save-events {
  padding: 50px;
}
.icon, .text__list-about {
  padding-top: 10px;
}
.icon:hover {
  transform: rotate3d(0, 1, 0, 360deg);
  transition: 0.8s;
  cursor: pointer;
}
.icon {
  animation-name: move-icon;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}
@keyframes move-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
.btn__about {
  position: absolute;
  top: 600px;
  left: 38%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}
.btn__abuot-pink {
  background-color: #FFD7D7;
  padding: 10px;
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.btn__abuot-pink a {
  color:#D43F3F;
}
.btn__abuot-blue {
  background-color: #D2E1FF;
  padding: 10px;
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.btn__abuot-blue a {
  color: #3A79FF;
}
.or__about {
  font-family: "Quicksand";
  font-size: 11px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px;
}
.or__about-text {
  padding: 10px;
}
.btn__abuot-blue:hover, .btn__abuot-pink:hover {
  background-color: #EFEFF7;
}
.btn__abuot-blue a:hover, .btn__abuot-pink a:hover {
  color: #7A85AD;
}
/* Costomers */
.costomers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.customer {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 50px;
  text-align: right;
}
.user {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #5E80FF;
  padding: 50px;
  text-align: left;
}
.icon__customer img, .icon__user img {
  width: 65px;
}
.number__customer, .number__user {
  font-family: "Quicksand";
  font-size: 48px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0.03em;
}
.text__customer {
  width: 260px;
  text-align: right;
  float: right;
}
.text__user {
  width: 260px;
}
/* Blog */
.blog {
  position: relative;
  width: 100%;
  height: 765px;
  background: #F5F8FF;
}
.blog-title {
  position: absolute;
  left: 41%;
  width: 300px;
  top: 50px;
}
.blog__gallery {
  position: absolute;
  width: 100%;
  top: 150px;
}
.slider {
  margin: 0 auto;
  max-width: 70%;
}
.slide_viewer {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.slide_group {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.slide:first-child {
  display: block;
}
.slide:nth-of-type(1) {
  background: #FFFFFF;
}
.slide:nth-of-type(2) {
  background: #FFFFFF;
}
.slide:nth-of-type(3) {
  background: #FFFFFF;
}
.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  top: 450px;
  text-align: center;
}
a.slide_btn {
  color: #D1D6E3;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide_btn.active, .slide_btn:hover {
  color: #5283FF;
  cursor: pointer;
}
.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 92%;
  position: relative;
  top: -340px;
}
.previous_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 20px;
}
.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 20px;
  top: 0;
}
.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}
/* Blog */
.card-blog {
  position: relative;
  background: #FFFFFF;
  width: 950px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.blog_img {
  position: absolute;
  left: 0;
}
.blog_img img {
  width: 56%;
}
.blog_text {
  position: absolute;
  right: 10%;
  top: 40px;
  width: 40%;
}
.blog_text h2 {
  font-family: "Quicksand";
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #3D4F9F;
}
.blog_text p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: left;
  color: linear-gradient(0deg, #8D96BD, #8D96BD),
linear-gradient(0deg, #DFE2EF, #DFE2EF);
}
.blog_btn {
  padding-top: 10px;
}
.blog_btn-blue {
  background-color: #D2E1FF;
  width: 115px;
  padding: 10px;
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.blog_btn-blue a {
  color: #3A79FF;
}
.blog_btn-white {
  width: 130px;
  padding: 9px;
  border: 1px solid #D1D1E4;

  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.blog_btn-white a {
  color: #7A85AD;
}
/* Resourses */
.resources {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}
.resources-title {
  width: 340px;
}
/* Form */
.form {
  background: #FCFDFF;
  border: 1px solid #D8E3FE;
  width: 100%;
  height: 332px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter {
  padding-left: 250px;
}
form {
  padding-right: 250px;
}
.input_email {
  background-color: #EFEFF7;
  color: #7A85AD;
  padding: 10px;
  width: 250px;
  height: 59px;
  border-radius: 5px;
  border: none;

  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.input_button {
  background-color: #4D6CE1;
  color: #FFFFFF;
  width: 150px;
  height: 59px;
  border-radius: 5px;
  border: none;

  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.input_email:hover, .input_button:hover {
  background-color: #D2E1FF;
  color: #3A79FF;
}
/* Footer */
footer {
  color: #AEB8D0;

  padding: 50px 0;
}
.footer__copy {
  color: #AEB8D0;

  font-family: "Quicksand";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;

  padding-left: 200px;
  padding-top: 25px;
}